{% extends "appuni/layout.html" %}
{% load static %}

{% block content %}

  

        <img src="{% static 'appuni/eu_banner.png' %}">

        <div id="registros">
            <h1>Control de Registro</h1>
            
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre y Apellido</th>
                        <th>Edad</th>
                        <th>Materia</th>
                    </tr>
                    </thead>
                
                    <tbody>
                    {% for alumno in alumnos %}
                        <tr>
                        <td><a href="{% url 'alumno' alumno.nombre %}">{{ alumno.id }}</a></td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.edad }}</td>
                        <td>{{ alumno.materia }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>  
            <a href="{% url 'nuevo_alumno' %}"><button class="estilo-boton">Nuevo Alumno</button></a>      
{% endblock %}